In [4]:
!get https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

zsh:1: command not found: get

In [6]:
# follow instructions online to get command wget on mac OS, manual download for now

In [43]:
import pandas as pd 
import numpy as np

In [12]:
pd.__version__

'2.0.2'

In [9]:
df = pd.read_csv('HW1-Housing-data.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [13]:
df.isna().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [14]:
df['ocean_proximity'].nunique()

5

In [21]:
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

In [24]:
mean = df['total_bedrooms'].mean()
mean

537.8705525375618

In [27]:
df['total_bedrooms'].fillna(mean).mean()
# no

537.8705525375617

In [41]:
island = df['ocean_proximity'].unique()[4]

df_island = df[df['ocean_proximity'] == island][['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [49]:
X = df_island.to_numpy()
XTX = X.T.dot(X)  
XTX_inv = np.linalg.inv(XTX)

In [50]:
y = [950, 1300, 800, 1000, 1300]

In [53]:
w = XTX_inv.dot(X.T).dot(y)

In [54]:
w[-1]

5.699229455065586